In [200]:
import pandas as pd 
import requests
import os 
import json
apikey = os.environ.get('FSQ_API_KEY')
# yelp_apikey = os.environ.get('YELP_API_KEY')

# Foursquare

Send a request to Foursquare with a small radius (1000m) for all the bike stations in your city of choice.

In [201]:
%store -r location_list

In [202]:
url = "https://api.foursquare.com/v3/places/search"

params = {
    "query": "restaurants",
    "sort":"DISTANCE",
    "radius": "1000"
}

headers = {
    "Accept": "application/json",
    "Authorization": apikey
}

for location in location_list:
    params["ll"] = location
    response = requests.get(url, params=params, headers=headers)
    
    if response.status_code == 200:
        data = response.json()

In [243]:
fsq_response = response.json()

In [244]:
# fsq_response

In [247]:
fsq_restaurants = fsq_response['results']

KeyError: 'results'

In [248]:
faq_parse_data = []

In [249]:
for restaurant in fsq_restaurants:
    name = restaurant['name'], 
    distance = restaurant['distance'], 
    faq_latitude = restaurant['geocodes']['main']['latitude'],
    fsq_longitude = restaurant['geocodes']['main']['longitude']
    fsq_dict = {'name' : name , 
                'distance' : distance , 
                'latitude' :latitude, 
                'longitude' : longitude 
               }
    faq_parse_data.append(fsq_dict)

In [250]:
# faq_parse_data

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [251]:
fsq_df = pd.DataFrame(faq_parse_data)

In [252]:
# fsq_df

In [253]:
fsq_df.to_csv('fsq_data_frame.csv', index=False)

Put your parsed results into a DataFrame

In [254]:
fsq_df = pd.DataFrame(faq_parse_data)

In [259]:
fsq_df

                                       name distance   latitude  longitude
0  (Restaurant Mon-Nan Cantonese Food Enr,)   (220,)  45.560394 -73.596768
1                    (Restaurant Sai Gwan,)   (233,)  45.560394 -73.596768
2                      (Pho Bang New York,)   (236,)  45.560394 -73.596768
3                             (Sumo Ramen,)   (248,)  45.560394 -73.596768
4                     (Qing Hua Chinatown,)   (250,)  45.560394 -73.596768
5                                  (Amigo,)   (250,)  45.560394 -73.596768
6                   (Nouilles de Lan Zhou,)   (252,)  45.560394 -73.596768
7                              (Chez Bong,)   (253,)  45.560394 -73.596768
8                 (Restaurant Pho Bac Inc,)   (258,)  45.560394 -73.596768
9                                   (Nudo,)   (263,)  45.560394 -73.596768

# Yelp

Send a request to Yelp with a small radius (1000m) for all the bike stations in your city of choice.

In [256]:
yelp_url = 'https://api.yelp.com/v3/businesses/search'

In [257]:
import os
from dotenv import load_dotenv

# Load environment variables from .env file
load_dotenv()

False

In [258]:
 yelp_apikey

In [217]:
yelp_apikey = os.getenv("KEY")

In [218]:
from key import KEY

In [219]:
yelp_url = 'https://api.yelp.com/v3/businesses/search'

headers = {
        'Authorization': KEY 
    }

params = {
         "radius": "1000",
        'categories': 'restaurants'  
         }
for location in location_list:
    params['location'] = location
    response = requests.get(yelp_url, params=params, headers=headers)
    
    if response.status_code == 200:
        data = response.json()

In [223]:
# yelp_restaurants

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

In [260]:
parse_data = []

In [261]:
for restaurant in yelp_restaurants:
    Name = restaurant['name'], 
    Rating = restaurant['rating'], 
    Review_Count = restaurant['review_count'],
    latitude = restaurant['coordinates']['latitude']
    longitude = restaurant['coordinates']['longitude']
    price = restaurant.get('price', None)
    yelp_dict = {'name' : Name , 
                 'Rating' : Rating , 
                 'Review_Count' : Review_Count, 
                 'longitude' : longitude, 
                 'latitude' : latitude, 
                 'price' : price
                }
    parse_data.append(yelp_dict)

In [262]:
# parse_data


Put your parsed results into a DataFrame

In [263]:
yelp_df1 = pd.DataFrame(parse_data)

In [264]:
yelp_df1

                       name  Rating Review_Count  longitude   latitude price
0              (Wing Phat,)  (4.0,)        (58,) -73.601820  45.572850    $$
1                (Bar Zoé,)  (4.0,)        (12,) -73.597456  45.559577     $
2   (Nouveau Crystal Rest,)  (4.5,)         (4,) -73.592620  45.558480  None
3             (Steve Anna,)  (4.0,)         (5,) -73.593167  45.557919     $
4       (Centrale Bergham,)  (3.0,)         (1,) -73.592460  45.565780  None
5                 (Fu Lam,)  (3.0,)         (6,) -73.591253  45.568534    $$
6            (Pizza Lagua,)  (3.0,)         (2,) -73.599700  45.566190  None
7       (La Table Fleurie,)  (5.0,)         (1,) -73.594340  45.562930  None
8           (Chez Alberto,)  (4.0,)         (1,) -73.596730  45.560260  None
9           (Double Pizza,)  (3.0,)         (2,) -73.591248  45.566251  None
10              (Kim Jian,)  (4.0,)         (1,) -73.597725  45.559258  None
11                (Sapore,)  (4.0,)         (5,) -73.587750  45.570160  None
12    (Sak's Sandwicherie,)  (3.5,)         (4,) -73.601021  45.560285  None
13               (Pho Hin,)  (1.0,)         (1,) -73.589978  45.567859  None
14              (Harvey's,)  (3.5,)         (6,) -73.590640  45.568110  None
15                (Au Coq,)  (2.5,)         (6,) -73.589348  45.557509  None
16            (Pizza Pino,)  (4.0,)         (1,) -73.595800  45.561290  None
17           (Super Pizza,)  (4.0,)         (1,) -73.588690  45.562940  None
18              (Pho Asie,)  (4.0,)         (2,) -73.598031  45.559406  None
19   (Papichulo Resto Bar,)  (3.0,)         (2,) -73.596768  45.560394  None

In [265]:
yelp_df1.to_csv('yelp_data_frame.csv', index=False)

# Comparing Results

Which API provided you with more complete data? Provide an explanation.

Compared to foursquare, Yelp has larger number of restaurants and more information about each restaruant is available

Get the top 10 restaurants according to their rating

In [241]:
sorterd_by_rating = yelp_df1.sort_values('Rating', ascending=False)

In [242]:
sorterd_by_rating.head(10)

,name,Rating,Review_Count,yelp_longitude,yelp_latitude,price
7,"(La Table Fleurie,)","(5.0,)","(1,)",-73.594340,45.562930,None
2,"(Nouveau Crystal Rest,)","(4.5,)","(4,)",-73.592620,45.558480,None
0,"(Wing Phat,)","(4.0,)","(58,)",-73.601820,45.572850,$$
1,"(Bar Zoé,)","(4.0,)","(12,)",-73.597456,45.559577,$
18,"(Pho Asie,)","(4.0,)","(2,)",-73.598031,45.559406,None
17,"(Super Pizza,)","(4.0,)","(1,)",-73.588690,45.562940,None
16,"(Pizza Pino,)","(4.0,)","(1,)",-73.595800,45.561290,None
11,"(Sapore,)","(4.0,)","(5,)",-73.587750,45.570160,None
10,"(Kim Jian,)","(4.0,)","(1,)",-73.597725,45.559258,None
8,"(Chez Alberto,)","(4.0,)","(1,)",-73.596730,45.560260,None